<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1 class="animated infinite pulse">Hello world</h1>
    <div>
      <!-- img inside here -->
    </div>
    <script src="/app/app.js" charset="utf-8"></script>
  </body>
</html>
